<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-2">
      <label>*Código: <span style="color: red;">{{msgcod}}</span></label>
      <input class="form-control" type="text" formControlName="codigo" autocomplete="off" (blur)="validaCod()" oninput="this.value = this.value.toUpperCase()">
    </div>
    <div class="col-sm-4">
      <label>*Descrição: </label>
      <input class="form-control" type="text" formControlName="descri" oninput="this.value = this.value.toUpperCase()">
    </div>

    <div class="col-sm-2">
      <label>*Quant.: </label>
      <input class="form-control" type="number" formControlName="quant" placeholder="0">
    </div>

    <div class="col-sm-2">
      <label>*Preço: </label>
      <input class="form-control" type="text" formControlName="preco" currencyMask>
    </div>

    <div class="col-sm-2">
      <label>Ativo: </label>
      <select class="custom-select form-control" formControlName="ativo">
        <option value="S" selected>SIM</option>
        <option value="N">NÃO</option>
      </select>
    </div>
  </div>
  <div class="row">
    <!-- botoes -->
    <div class="col-sm" style="margin-top: 10px;">

      <button class="btn btn-success btmenu" type="submit" [disabled]="!form.valid">Salvar</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-warning btmenu" type="button" (click)="reset()">Reset</button>

    </div>
  </div>
</form>
